$primary   : #f78f5f;
$secondary : #DE6161; 
$accent    : #FFC100;

$dark      : #2D2D2D;
$dark-page : #1A1B1D;
$textColor:  #DDDDDD;

$positive  : #107e7d;
$negative  : #C10015;
$info      : #6161de;
$warning   : #F2C037;
$danger    : #DE6161;

// breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;